@page
@model Reloj_Marcador.Pages.Motivos.IndexModel
@{
    ViewData["Title"] = "Gestión de Motivos";
}

<h2>Gestión de Motivos</h2>

<h3>Agregar Motivo</h3>
<hr />
<form method="post" asp-page-handler="CrearMotivo">
    <div class="mb-3">
        <label asp-for="NuevoMotivo.Nombre_Motivo" class="form-label"></label>
        <input asp-for="NuevoMotivo.Nombre_Motivo" class="form-control" maxlength="40" />
        <span asp-validation-for="NuevoMotivo.Nombre_Motivo" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
</form>

<hr />

<h3>Lista de Motivos</h3>

<table class="table table-striped table-hover">
    <thead class="table-light">
        <tr>
            <th>ID Motivo</th>
            <th>Nombre del Motivo</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var motivo in Model.Motivos)
        {
            <tr>
                <td>@motivo.ID_Motivo</td>
                <td>
                   
                    <form method="post" asp-page-handler="EditarMotivo" asp-route-id="@motivo.ID_Motivo" class="d-flex">
                        <input type="text" name="MotivoEnEdicion.Nombre_Motivo" value="@motivo.Nombre_Motivo" class="form-control me-2" required maxlength="40" />
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </form>
                </td>
                <td>

                    <form method="post" asp-page-handler="EliminarMotivo" class="d-inline">
                        <input type="hidden" name="id" value="@motivo.ID_Motivo" />
                        <button type="submit" class="btn btn-primary" onclick="return confirm('¿Seguro?')">Eliminar</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>


@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger mt-3">
        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
        {
            <div>@error.ErrorMessage</div>
        }
    </div>
}

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}